/*  Cody Macdonald
    CSc 337 Final Project
    This CSS file contains the styling for the RancidTomatoes web page.
*/

html, body {
    background-image:url("images/moviebg.png");
    margin:0px;
    padding:0px;
    height:100%;
}

.banner_background {
    background-image:url("images/rancidbannerbg.png");
    padding:0px;
    margin:0px;
    clear:both;
}

.banner {
    padding:0px;
    margin:0px;
}

.banner img {
    display:block;
    margin:auto;
}

.text_heading {
    font-size:24pt;
    font-weight:bold;
    font-family:Georgia;
    text-align:center;
    text-shadow:3px 3px #999999;
}

.content_area {
    border-radius:20px;
    width:800px;
    min-width:800px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
}

.reviews {
    width:550px;
    background-color:#EEEEEE;
    float:left;
    height:100%;

}

.reviews_heading img {
    height:83px;
    vertical-align:text-bottom;
    border-radius:20px;
}

.reviews_heading {
    color:red;
    font-size:48pt;
    font-weight:bold;
    font-family:Helvetica;
    height:83px;
    background-image: url("images/rottenlargebg.png");
    vertical-align:text-bottom;
    clear:both;
}

.reviewer_name {
    font-size:10pt;
    display:inline;
}

.reviewer_publication {
    font-style:italic;
    display:inline;
}

.review {
    padding-bottom:20px;
}

.review_text {
    font-size:10pt;
    background-color:#FFFFFF;
    padding:4px;
    border-radius:20px;
    border:2px solid #CCCCCC;
}

.review_text img {
    padding-right:5px;
}
.reviewer_name img {
    float:left;
}

.column_one {
    width:47%;
    float:left;
    padding-left:2%;
    padding-top:2%
}

.column_two {
    width:47%;
    float:right;
    padding-right:2%;
    padding-top:2%;
}

.general_overview {
    float:right;
    width:250px;
    background-color: #A2B964;
    font-size:10pt;
    font-family:Helvetica;
    font-weight:bold;
}

.general_overview dl {
    padding-left:10pt;
    padding-right:10pt;

}

.general_overview dt {
    padding-top:10pt;
}

.general_overview ul {
    list-style-type: none;
    padding:0;
    display:inline;
}



#overviewImg {
    height:auto;
    width:250px;
}

#frontpageimg {
    height:250px;
    width:150px;
}

.frontpageimgdiv {
    float:left;
    padding:5px;
    padding-left:30px;

}

.page_footer {
    clear:both;
    background-color: #A2B964;
    text-align:center;
}

.footer_text {
    padding-top:1px;
    padding-bottom:1px;
}

#navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarItem {
    float: left;
}

.navbarItem a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana;
}

.navbarItem a:hover {
    background-color: #111;
}

#newMovies {
    text-align: center;
    margin: 0 auto;
}

#newReviews {
    width:75%;
    margin: 0 auto;
}

.topTenColMovies {
    border-radius:20px;
    float:left;
    width:60%;
    margin:20px;
    padding:5px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    height:900px;
}

.topTenColReviews {
    /*border-radius:20px;*/
    float:left;
    width:25.57%;
    margin:20px;
    padding:5px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    height:900px;
    overflow:auto;
}


.frontpagereview {
    padding-bottom:20px;
}

.frontpagereviewtitle {
    text-align: center;
    font-family: Verdana;
}

.frontpagereview a:link {
    text-decoration: none;
}

.frontpagereview a:hover {
    color:lightblue;
}

#inputBox {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:20%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;
    font-family: Verdana;
    font-size:14px;
}

#movieTitle {
    margin-top:10px;
}

#searchResults {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:25%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;    
    font-family: Verdana;
}

#searchResults a:link {
    text-decoration: none;
}

#searchResults a:hover {
    color:lightblue;
}

#newMovieDiv {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:35%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;    
    font-family: Verdana;
}

#newReviewTable {
    width:100%;
}

#newReviewDiv {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:50%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;    
    font-family: Verdana;
}

#newMovieTable {
    width:100%;
}

#error {
    text-align: center;
    font-family: Verdana;
    background-color: red;
    color:white;
    width:20%;
    margin: 0 auto;
    margin-top:40px;
    padding:20px;
    box-shadow: 5px 5px 5px #888888;
    border-radius:20px;
}

#loginDiv {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:20%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;    
    font-family: Verdana;
}

#loginTable {
    width:100%;
}

#loginDiv a:link {
    text-decoration: none;
}

#loginDiv a:hover {
    color:lightblue;
}

#registerDiv {
    text-align: center;
    border-radius:20px;
    border:2px solid darkgrey;
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    width:19%;
    margin: 0 auto;
    padding:15px;
    margin-top:20px;    
    font-family: Verdana;
}

#registerTable {
    width:100%;
}
